.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pagination button:enabled {
    cursor: pointer;
}
.pagination button {
    padding: 4px 6px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 5px 5px 12px #c6c6c6, 
                -5px -5px 12px #ffffff;
}

.pagination button:hover:enabled {
    box-shadow: none;
}

.pagination button:active:enabled {
    box-shadow: inset 5px 5px 12px #c6c6c6,
                inset -5px -5px 12px #ffffff;
}