.form {
    width: 20%;
    padding: 30px 40px;
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #505050;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:  5px 5px 12px #c6c6c6,
             -5px -5px 12px #ffffff;
    margin: 10px 0 0 0;
}