.table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #505050;
    max-height: calc(100% - 40px);
    padding: 30px;
}

.table-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-content {
    max-height: 100%;
}