.table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #505050;
    max-height: calc(100% - 40px);
    padding: 30px;
    margin-bottom: 3vh;
}

.table-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-content {
    max-height: 100%;
}

.table-content thead img {
    cursor: pointer;
    width: 12px;
    margin-left: 2px;
}

table, th, td {
    border: 1px solid #9c9c9c;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
}