.show-entries-container select {
    padding: 10px 8px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow:  5px 5px 12px #c6c6c6,
             -5px -5px 12px #ffffff;
}

.show-entries-container select:focus {
    outline: none;
    box-shadow: inset 5px 5px 12px #c6c6c6,
            inset -5px -5px 12px #ffffff;
}